<div class="m-4">
  <h2>Lista de compras</h2>

  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <input class="me-2" type="text" required
           name="itemName" [(ngModel)]="newItemName" >
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>

  <ul class="list-unstyled">
    <li class="mt-2 mb-1" *ngFor="let item of items">

      <span *ngIf="!item.completed" class="me-2" >{{item.name}}</span>
      <span *ngIf="item.completed" class="me-2" ><del>{{item.name}}</del></span>
      <button *ngIf="!item.completed"
              class="btn btn-success me-2" id="complete"
              (click)="completeItem(item)">Completar</button>
      <button class="btn btn-danger " id="delete"
              (click)="deleteItem(item)">Eliminar</button>
    </li>
  </ul>


</div>
